.wg_p
    &.font_1
        @include montserratregular
    &.font_2
        @include ralewayextrabold
    &.font_3
        @include montserratlight
    &.cl_1
        color: white
    &.cl_2
        color: $primary-red
    &.cl_3
        color: $primary-black
    &.text_1
        font-size: 1.3em //equivale a 13 pixeles
    &.text_2
        font-size: 1.6em //equivale a 16 pixeles
    &.text_3
        font-size: 2em //equivale a 20 pixeles
    &.text_4
        font-size: 1.7em //equivale a 17 pixeles
    &.text_5
        font-size: 1.2em //equivale a 12 pixeles
    &.text_6
        font-size: 4em //equivale a 40 pixeles
    &.text_7
        font-size: 1.8em
    &.title_1
        font-size: 6em
    &.p_block
        display: block
    &.p_bold
        font-weight: bold

.wg_m
    &.mt_5
        margin-top: 5px
    &.mt_10
        margin-top: 10px
    &.mt_15
        margin-top: 15px
    &.mt_20
        margin-top: 20px
    &.mt_35
        margin-top: 35px
    &.mt_90
        margin-top: 90px
    &.mt_70
        margin-top: 70px
    &.mt_60
        margin-top: 60px
    &.ml_60
        margin-left: 60px

.wg_cursor
    &.c_pointer
        cursor: pointer