.wg_p
    margin: 0px
    &.font_1
        @include montserratregular
    &.font_2
        @include ralewayextrabold
    &.font_3
        @include montserratlight
    &.font_4
        @include montserratbold
    &.font_5
        @include ralewayextralight
    &.cl_1
        color: white
    &.cl_2
        color: $primary-red
    &.cl_2_imp
        color: $primary-red !important
    &.cl_3
        color: $primary-black
    &.cl_4
        color: #23232d
    &.cl_5
        color: #245c77
    &.text_1
        font-size: 1.3em //equivale a 13 pixeles
    &.text_2
        font-size: 1.6em //equivale a 16 pixeles
    &.text_3
        font-size: 2em //equivale a 20 pixeles
    &.text_4
        font-size: 1.7em //equivale a 17 pixeles
    &.text_5
        font-size: 1.2em //equivale a 12 pixeles
    &.text_6
        font-size: 4em //equivale a 40 pixeles
    &.text_7
        font-size: 1.8em
    &.text_8
        font-size: 1.5em
    &.text_9
        font-size: 2.5em
    &.text_10
        font-size: 3em
    &.title_1
        font-size: 6em
    &.p_block
        display: block
    &.p_bold
        font-weight: bold
    &.p_uppercase
        text-transform: uppercase


.wg_m
    &.mt_5
        margin-top: 5px
    &.mt_10
        margin-top: 10px
    &.mt_15
        margin-top: 15px
    &.mt_20
        margin-top: 20px
    &.mt_25
        margin-top: 25px
    &.mt_30
        margin-top: 30px
    &.mt_35
        margin-top: 35px
    &.mt_40
        margin-top: 40px
    &.mt_60
        margin-top: 60px
    &.mt_80
        margin-top: 80px
    &.mt_90
        margin-top: 90px
    &.mt_70
        margin-top: 70px
    &.mt_130
        margin-top: 130px
    &.mt_50
        margin-top: 50px
    &.mt_60
        margin-top: 60px
    &.ml_60
        margin-left: 60px
    &.mb_0
        margin-bottom: 0px
    &.mb_20
        margin-bottom: 20px
    &.mb_75
        margin-bottom: 75px
    &.mr_15
        margin-right: 15px
    &.mr_20
        margin-right: 20px
    &.ml_15
        margin-left: 15px
    &.m_center
        margin: 0 auto

.wg_pad
    &.pt_70
        padding-top: 70px
    &.pl_15
        padding-left: 15px
    &.pr_15
        padding-right: 15px

.wg_cursorne
    &.c_pointer
        cursor: pointer

.wg_a
    cursor: pointer
    &.text_d_none:hover
        text-decoration: none

.button
    +border-radius(3px)
    outline: 0
    padding: 17px 25px
    position: relative
    &[disabled]
        cursor: not-allowed
        pointer-events: none
        +box-shadow(none)
        @include opacity(0.65)
    &.no-border
        border: none
    &.btn_green
        @include skew(-30, 0)
        border: 5px solid $primary-green
        color: $primary-green
        background-color: transparent
        span.r_text
            @include skew(30, 0) 
        &:hover
            +transition-duration(0.8s)
            +transition-property(all) 
            +transition-timing-function(ease-in)
            background-color: $primary-green
            color: white

.wg_bkg_title
    @include skew(-20, 0) 
    position: absolute
    width: 100%
    &.primary-red
        background-color: #c54041
        height: 200px
    &.second-red
        background-color: $second-red
        height: 200px
.wg_icon
    &.icon_email
        background: image-url("home_public/icon_email.png")
        height: 22px
        width: 28px
    &.icon_phone
        background: image-url("home_public/icon_phone.png")
        height: 22px
        width: 15px
.wg_form
    .form-basic,.fb
        &-width-all
            width: 100%
        &-bck-blue
            background-color: $primary-blue
        &-no-focus:focus
            +box-shadow(none)
            border-color: inherit

.wg_cursor
    &.pointer
        cursor: pointer
.wg_loading
    position: absolute
    &.loading
        z-index: 1
        &-button
            left: 0px
            margin-left: 0px
            margin-right: 0px
            right: 0px
            top: 0px
.wg_max_w
    &-all
        max-width: 100%
.wg_f
    &.f_left
        float: left
    &.f_none
        float: none


.rwd
    &-lg-break
        display: block
        &-hide
            display: none
    @media (max-width: 767px)
        &-xs-break
            display: block
            &-hide
                display: none
    @media (min-width: 768px)
        &-sm-break
            display: block
            &-hide
                display: none
     
    @media (min-width: 992px)
        &-md-break
            display: block
            &-hide
                display: none

.wg_sh
    &-hide
        display: none

.wg_icon
    position: relative
    &-see-proyect:before
        background-image: image-url("projects/see_proyects.png")
        bottom: -20px
        content: " "
        height: 19px
        right: -120px
        width: 19px
        position: relative
