{% load cms_tags menu_tags sekizai_tags %}
{% load static from staticfiles%}
{% load copy %}
section.section_about_services#section_about_services
  .wrapper
    .content_title
      .row.no-gutters
        .col-xs-10.col-xs-offset-1
          h2(class="wg_p wg_m font_2 text_6 cl_3 p_bold")
            {% copy 'section_about_services_title' default='NUESTROS SERVICIOS' %}
      .row.no-gutters
        div( class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1")
          p(class="wg_p text_7 cl_3 font_3")
            {% copy 'section_about_services_des' default='Tenemos los mejores servicios para lograr que tu empresa sea la numero uno en el mercado digital.' %}
  section.sau_services.wg_m.mt_70
    .row.no-gutters
      .col-xs-12
        {% for item in services %}
        div(class="col-lg-6 text-center wg_m mb_75")
          .icon
            {% render_placeholder item.icon %}
          span(class="wg_p cl_2 text_3 wg_m mt_20 font_4 p_block p_bold")
            {% render_placeholder item.name %}
          {% render_placeholder item.description %}
        .clearfix
        {% endfor %}
    .row.no-gutters
      div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center")
        a(href="", class="wg_p font_2 cl_1 text_9 wg_a text_d_none button clearfix btn_green",
          scroll-on-click-go-to-contact-form)
          span.r_text.clearfix
            {% static_placeholder "link_contact_us" or %}
            |Contrata a digital-workers
            {% endstatic_placeholder %}