{% extends 'shared/dw/layout.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static from staticfiles %}
{% load copy %}


{% block content %}
<section class="home_public">
    <section class="section_intro">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <figure>
                        <img src="{% static 'imgs/home_public/intro_logo.png' %}" alt="">
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <h1 class="wg_p cl_1 title_1 wg_m mt_35 font_2 xs_title_1">{% copy 'h1_somos' default='SOMOS'%}
                        <span class="wg_p cl_2">{% copy 'h1_indepen' default='INDEPENDIENTES' %}</span>
                    </h1>
                </div>
            </div>
            <div class="row wg_m mt_70">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <span class="wg_p cl_1 text_2 p_block">{% copy 'sp_hacer_scroll' default='Hacer scroll' %}</span>
                </div>
            </div>
            <div class="row wg_m mt_20">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <figure id="scroll_mouse">
                        <img src="{% static 'imgs/home_public/mouse_peripheral.png' %}" alt="mouse_peripheral" class="wg_cursor c_pointer">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    {% include 'shared/dw/header.html' %}
    <section class="section_about_us">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <figure>
                        <img src="{% static 'imgs/home_public/nosotros_logo.png'%} " alt="nosotros_logo.png">
                    </figure>
                </div>
            </div>
            <div class="row wg_m mt_90">
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 text-center col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
                    <p class="wg_p font_1 cl_1 text_4">
                        <span class="wg_p text_5 cl_1 p_bold">{% copy 'section_about_us_dw' default='Somos Digital Workers, '%}</span>
                        {% copy 'section_about_us_desp' default='una empresa nacida con base en Bogotá D.C - Colombia. Nuestro objetivo es darle presencia en la internet a pequeñas y medianas  empresas que confien en nosotros. Por eso y más, queremos ser la agencia de diseño y programación de su preferencia.' %}
                        
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section_about_services">
        <div class="wrapper">
            <div class="content_title">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <h2 class="wg_m font_2 text_6 cl_3">{% copy 'section_about_services_title' default='NUESTROS SERVICIOS' %}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <p class="wg_p text_7 cl_3 font_3">{% copy 'section_about_services_des' default='Tenemos los mejores servicios para lograr que tu empresa sea la numero uno en el mercado digital.' %}</p>
                    </div>
                </div>
            </div>
            <div class="sau_services wg_m mt_70">
                <div class="row">
                    {% for item in services %}
                        editar
                        {% render_placeholder item.icon %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{%block javascript%}

{% if DEBUG %}
    <script data-main="{% static "src/js/home_public_dw.js" %}" src="{% static "components/requirejs/require.js" %}"></script>
{% else %}
    <script data-main="{% static "build/js/home_public_dw.js" %}" src="{% static "components/requirejs/require.js" %}"></script>
{% endif %}

{%endblock javascript%}