
{% extends 'shared/dw/layout.html'%}
{% load cms_tags menu_tags sekizai_tags %}
{% load static from staticfiles%}
{% load copy %}
{% block content %}
<section class="home_public">
  {% include "shared/dw/header.html" %}
  {% include "sections/home/section_intro.html" %}
  {% include "sections/home/section_about_us.html" %}
  {% include "sections/home/section_about_services.html" %}
  {% include "sections/home/section_our_projects.html" %}
  {% include "sections/home/sections_our_clients.html" %}
  {% include "sections/home/contact_us.html" %}
  {% include "shared/dw/footer.html" %}
</section>{% endblock%}
{% block javascript %}
{% if DEBUG %}
<script src="{% static 'components/requirejs/require.js' %}" data-main="{% static 'src/js/home_public_dw.js' %}"></script>{% else %}
<script src="{% static 'build/js/require.min.js' %}" data-main="{% static 'build/js/home_public_dw.js' %}"></script>{% endif %}
{% endblock javascript %}