
<div class="section_intro">
  <div class="wrapper">
    <div class="row no-gutters">
      <div class="col-xs-10 text-center col-xs-offset-1">
        <figure><img src="{% static 'imgs/home_public/intro_logo.png' %}" alt="logo"/></figure>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-xs-10 text-center col-xs-offset-1">
        <h1 class="wg_p cl_1 title_1 wg_m mt_35 font_2 xs_title_1">{% copy 'h1_somos' default='SOMOS'%}<span class="wg_p cl_2">{% copy 'h1_indepen' default='INDEPENDIENTES' %}</span></h1>
      </div>
    </div>
    <div class="row no-gutters wg_m mt_70">
      <div class="col-xs-10 text-center col-xs-offset-1"><span class="wg_p cl_1 text_2 p_block">{% copy 'sp_hacer_scroll' default='Hacer scroll' %}</span></div>
    </div>
    <div class="row no-gutters wg_m mt_20">
      <div class="col-xs-10 text-center col-xs-offset-1">
        <figure id="scroll_mouse"><img src="{% static 'imgs/home_public/mouse_peripheral.png' %}" alt="mouse peripheral" class="wg_cursor c_pointer"/></figure>
      </div>
    </div>
  </div>
</div>