html
    font-size: 62.5%
body
    @include ralewayextrabold
    font-size: 1em
    .home_public
        margin-bottom: 0px
        .section_intro
            +box-sizing(border-box)
            background: image-url('home_public/intro_back_img.jpg') fixed no-repeat center top
            margin-top: 70px
            min-height: 639px
            padding-bottom: 30px
            padding-top: 216px
            width: 100%
        .section_about_us
            +box-sizing(border-box)
            background: image-url('home_public/nosotros_back.png') no-repeat center top
            min-height: 578px
            padding-bottom: 30px
            padding-top: 115px
            width: 100%
        .section_about_services
            +box-sizing(border-box)
            background-color: #f1f1f1
            min-height: 1000px
            padding-bottom: 100px
            .content_title
                +box-sizing(border-box)
                height: 200px
                padding-top: 58px
                background: image-url('home_public/rectange_title_red.png') no-repeat 96px top
            .sau_services
                width: 100%
        .section_our_projects
            background: image-url('home_public/trabajos_back.png') 
            .content_title
                height: 200px
                position: relative
                .bkg_title
                    @include skew(-20deg, 0deg) 
                    background-color: $primary-red
                    height: 200px
                    position: absolute
                    width: 100%
            .content_footer
                +box-sizing(border-box)
                height: 245px
            .list_projects
                .item_zero
                    height: 275px
                .item_one,.item_two
                    height: 275px
                .item_three
                    height: 550px
                .item_zero,.item_one,.item_two,.item_three
                    img
                        max-width: 100%
        .sections_our_clients
            .content_title
                height: 200px
                position: relative
            .list_our_clients
                .item_cli
                    +border-radius(10px)
                    +box-sizing(border-box)
                    border-width: 10px
                    border: dashed 3px $border-red
                    height: 90px
                    width: auto
    .contact_us
        background: image-url('home_public/contacto_back.png')
        .content_title
            height: 200px
            position: relative
        .form_contact
            +box-sizing(border-box)
            background-color: $primary-blue
            height: 472px
            &-form-c
                +box-sizing(border-box)
                padding: 60px
                width: 100%
                .input-group
                    +box-sizing(border-box)
                    padding-right: 20px
                    input.form-control
                        border: 0px
                        border-bottom: 2px solid white

        .content_footer
            +box-sizing(border-box)
            min-height: 150px
            padding-bottom: 30px
    .section_footer
        +box-sizing(border-box)
        background-color: $second-blue
        min-height: 70px
        padding: 19px
        &-txt-dw-footer
            margin-left: 45px
            margin-top: 10px


