{% load cms_tags menu_tags sekizai_tags %}
{% load copy %}
{% load static %}
header.dw_header
  .wrapper
    .row
      .col-xs-12
        div(class="col-lg-3 col-md-3 col-sm-4 col-xs-6 pull-left")
          figure.logo.pull-left
            img(src="{% static 'imgs/home_public/intro_logo.png'%}", alt="digital workers")
          span(class="wg_p font_1 cl_2 text_2 p_block wg_m mt_15 ml_60")
            {% copy 'home_digital_workers' default='DIGITAL WORKERS'%}
        div(class="col-lg-9 col-md-9 col-sm-8 col-xs-12 float_none clearfix xs_display_inline")
          nav(class="pull-right wg_m mt_5 navbar navbar-default xs_float_none", role="navigation")
              div.navbar-header
                button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                  span.sr-only
                    Desplegar navegacion
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
              div(class="collapse navbar-collapse navbar-ex1-collapse wg_m mt_10")
                ul.nav.navbar-nav
                  {% show_menu 0 100 100 100 "menu/menu.html" %}
                      
                    
